.cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  grid-auto-flow: row;
  gap: 10px;
  padding: 20px;
  min-height: 100%;
}

[data-swapy-slot] {
  display: block;
  width: 100%;
}

[data-swapy-item] {
  padding: 5px;
  cursor: grab;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 20px;
}

[data-swapy-item]:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

[data-swapy-slot="spotify-slot"] {
  grid-column: span 1;
  grid-row: span 2;
}

[data-swapy-slot="about-slot"] {
  grid-column: span 2;
}
