@media (max-width: 600px) {
  .main {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .second-grid, .about {
    flex-direction: column;
  }

  .third-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-items: center;
  }

  .fourth-grid{
    flex-direction: column;
    place-items: center;
  }

  .about-div{
    place-items: center;
  }
}
