.cards{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr)); 
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  
}

.left, .right {
  display: grid;
  gap: 20px;
}

.left{
  grid-template-columns: 1fr;
}

.right {
  grid-template-columns: repeat(2, 1fr);
}

.misc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  gap: 20px;
}