@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .middle-nav {
    font-size: 14px;
    padding: 2px 2px;
  }

  .middle-nav p:active {
    color: var(--primary-text-color);
  }

  .middle-nav p {
    padding: 8px 10px;
  }
}
