@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }

  html {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--background-color);
  }

  :root {
    --background-color: #f7f2f2;
    --primary-text-color: #19212c;
    --secondary-text-color: #ffffff;
    --middle-nav-bar: #0000000d;
    --hover-color: #cdb6e262;
    --hover-text-color: #808080;
  }
 
  [data-theme="dark"] {
    --background-color: #090c10;
    --primary-text-color: #d8dae0;
    --secondary-text-color: #19212c;
    --middle-nav-bar: 	#FFFFFF66;
    --hover-color: #c7c4f0;
    --hover-text-color: #ffffff;
    }
}
